@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-lyserød: #f1a3c3;
  --color-blå: #24547c;
  --color-lyseblå: #a8daff;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-weight: 800;
}

header,
section {
  padding: 2rem;
}
