@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-lyserød: #f1a3c3;
  --color-blå: #24547c;
  --color-lyseblå: #a8daff;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1 {
  font-weight: 800;
}

header,
section {
  padding: 2rem;
}
@media screen and (width >= 768px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 2rem;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2rem;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    justify-items: center;
  }
}

.img-stor img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0;
}
.img-stor {
  padding: 0;
}

p,
h1,
h2,
h3,
img {
  margin-bottom: 1rem;
}
