---
const buttontext = Astro.props.buttontext;
---

<a href="#">
  <p>Se Her</p>
</a>
<style>
  a {
    text-decoration: none;
    color: white;
    background-color: #f1a3c3;
    display: inline-block;
    border-radius: 25px;
    padding: 10px 30px;
  }
</style>
