---
const { placeholder, headline, text } = Astro.props;
import { Image } from "astro:assets";
---

<article>
  <Image src={placeholder} alt="Beskrivende tekst" class="placeholder" />
  <h3>{headline}</h3>
  <p>{text}</p>
</article>

<style>
  h1,
  h2,
  h3,
  p {
    margin-bottom: 0.5rem;
  }
  .placeholder {
    width: 400px;
    max-height: 500px;
    object-fit: cover;
    justify-self: center;
  }

  h3,
  p {
    color: var(--color-blå);
  }

  p {
    font-size: smaller;
    max-width: 300px;
    padding-bottom: 2rem;
  }
  h3 {
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
  }
</style>
