---
import { Image } from "astro:assets";
import fællesspisning from "../../public/imgs/imgstor.png";
---

<section class="img-stor">
  <Image src={stor} alt="Stor" />
  <h1>Vær med til vores månedlige fællesmiddag!</h1>
  <Button buttonText="Se her" />
</section>
