---
import { Image } from "astro:assets";
import fællesspisning from "../../public/imgs/imgstor.png";
import Button from "./Button.astro";
---

<section class="img-stor">
  <Image src={fællesspisning} alt="Fællesspisning" class="mad" />
  <div class="overlay">
    <h1>Vær med til vores månedlige fællesmiddag!</h1>
    <Button buttonText="Se her" />
  </div>
</section>
<style>
  .img-stor {
    position: relative;
    width: 100%;
  }

  .mad {
    width: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 4rem;
    gap: 1.5rem;
  }

    h1{
    font-size: 20px;
  }
  .overlay h1 {
    color: var(--color-lyserød);
    max-width: 300px;
  }
  @media screen and (width >= 768px) {
    .overlay h1 {

    max-width: 500px;
  }
  h1{
    font-size: 40px;
  }
</style>
