---
import { Image } from "astro:assets";
import fællesspisning from "../../public/imgs/imgstor.png";
import Button from "./Button.astro";
---

<section class="img-stor">
  <Image src={fællesspisning} alt="Fællesspisning" />
  <h1>Vær med til vores månedlige fællesmiddag!</h1>
  <Button buttonText="Se her" />
</section>
